*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    background-color: rgb(66, 66, 66);
}
h5, p{
    color: rgb(0, 0, 0);
    text-align: center;
}

.main{
    height: 350px !important;
    background-color: black;
}
.item{
    height: 100% !important;
}
.carousel-control-next-icon{
    background-color: #00000075;
    height: 50px;
    
}
.carousel-control-prev-icon{
    background-color: #00000075;
     height: 50px;
}