*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.destination{
    background-image: url(img/destination.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.destination-content .title{
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-weight: 500;
    line-height: 90px;
    font-family: "Nothing You Could Do", cursive;
}
@media (max-width:425px) {
    .destination-content .title{
        font-size:60px ;
    }
    .destination-content .sub-title{
        font-size: 14px !important;
    } 
}
.destination-content .sub-title{
    font-size: 18px;
    font-weight: 400;
}
.popular-places .container{
    display: flex;
    
   
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
}
.filter-form h3{
    font-size: 16px;
    font-weight: 500;
    color: #001D38;
    margin-bottom: 26px;
}

.card-layout{
    width: 60vw;
    /* border: 1px solid black; */
}
.filter-form{
   
    width: 25vw;
}

.filter-form .form-type{
    display: flex;
flex-direction: column;
padding: 30px;
border: 1px solid #0000002b;
border-radius: 5px;
gap: 30px !important;
}
.form-type select{
    border: 1px solid #0000002b;
}
@media (max-width:1024px) {
    .filter-form{
        width: 80%;
    }
    .card-layout{
        width: 100%;
    }
    .popular-places .container{
        flex-direction: column;
        align-items: center;
        
    }
  
}